@model List<DMBuddy.Models.Character>
@using DMBuddy.Models

        @foreach(var player in @Model)
        {
            <tr>
                @{
                    string turnTag = "span";
                    @if(@player.CharacterId == @ViewBag.UpdateToggle)
                    {
                        @Html.Partial("ShowGamesPartials/UpdateCharacterPartial", (Character)@ViewBag.UpdateCharacter)
                    }else{
                        @if(@ViewBag.charactersInit[@ViewBag.curCombat.CurTurn].CharacterId == @player.CharacterId){
                             turnTag = "strong";
                        }
                            {
                            <td><@turnTag>@player.Name</@turnTag></td>
                            <td><@turnTag>@player.Initiative</@turnTag></td>
                            <td><@turnTag>@player.HP</@turnTag></td>
                            <td><@turnTag>@player.AC</@turnTag></td>
                            <td><@turnTag>@player.PassivePerception</@turnTag></td>
                            <td><@turnTag>@player.Comments</@turnTag></td>   
                   
                            <td>
                            <@turnTag>  
                                @if(@player.CharacterId == @ViewBag.ConfirmDeleteCharacter){
                                    <form style="Display: Inline-Block" action="/DeleteCharacter" method="post">
                                        <input type="hidden" name="CurCombatId" value=@player.CombatId>
                                        <input type="hidden" name="CurPlayerId" value=@player.CharacterId>
                                        <input type="submit" value="CONFIRM DELETE">
                                    </form>   
                                }else{
                                    <form style="Display: Inline-Block" action="/ConfirmDeleteCharacter" method="post">
                                        <input type="hidden" name="CurCombatId" value=@player.CombatId>
                                        <input type="hidden" name="CurPlayerId" value=@player.CharacterId>
                                        <input type="submit" value="Delete">
                                    </form>     
                                }
                                <form style="Display: Inline-Block" action="/ToggleUpdateCharacter" method="post">
                                    <input type="hidden" name="CurCombatId" value=@player.CombatId>
                                    <input type="hidden" name="CurPlayerId" value=@player.CharacterId>
                                    <input type="submit" value="Update">
                                </form>
                            </@turnTag>
                            </td>
                        }
                    }
                }
            </tr>
            
        }
    